{% extends 'base.html.twig' %}

{% block body %}
	<section class="col-sm-9" id="corps">
		N'hésitez à pas à nous joindre :
		<ul style="text-align: justify;">
			<li>
				<a target="_blank" href="https://www.facebook.com/association.camerounaise38?fref=ts">
					Sur notre page Facebook
				</a>
			</li>
			<li>
				<a target="_blank" href="https://www.facebook.com/groups/493371414155028/?fref=ts">Sur notre groupe Facebook
				</a>
			</li>
			<li>Sur notre adresse mail:
				<a href="mailto:acigrenoble38@gmail.com?subject=Contact%20ACI%20Grenoble">Envoyer un mail</a>
			</li>
		</ul><br>
		Nous vous attendons  !

	</section>

{% endblock %}
