{% extends 'base.html.twig' %}
{% block style %}
	<style>
		#corps {
			padding-top: 15px;
		}
	</style>
{% endblock %}
{% block body %}
	<div id="titre_section" class="col-5 ">
		<h4>Les évènements de l'ACI</h4>
	</div>
	<section class="col-9" id="corps">
		{% if actus|length==0 %}
			<p>Aucun évement ce mois</p>
		{% else %}
			{% for  actu in actus %}

				<div class="row">

					{% if actu.imageAffiche!=null %}
						<div class="col-3">
                            <img src="{{asset(actu.imageAffiche) }}" alt="echec" width="170" height="120">
                        </div>

					{% else %}
						<div class="col-3">
							<img src="http://www.designofsignage.com/application/symbol/building/image/600x600/no-photo.jpg" alt="Actualité" width="170" height="120">
						</div>
					{% endif %}
					<div class="col-7">
						<a href="{{ path('app_actu',{'id': actu.id}) }}">
							<h3 class="primary-color">{{ actu.titre }}
							</h3>
						</a>

						<p>{{ actu.contenu|slice(0, 50) ~ '...' }}</p>
					</div>
				</div><br>
			{% endfor %}
		{% endif %}

	</section>
{% endblock %}
