{% extends 'base.html.twig' %}
 
{% block body %}
    <section class="col-sm-9" id="corps">
        <h3> PRESENTATION L'ACI</h3>
        <div class="col-lg-offset-1 col-sm-10"style="text-align:justify;">
        <p>       L’association existe depuis <b>1993</b> d’abord sous la dénomination 
            Association des Élèves, Étudiants, et stagiaires camerounais de Grenoble (AEESCG). 
            Par la suite, elle a connu un changement de dénomination pour devenir Association Camerounaise de l’Isère
            (ACI). L’objectif étant de construire une entité commune et sans distinction au sein de laquelle tous les 
            camerounais du département de l’Isère pouvaient s’y retrouver.</p>
        <p>
            Sur le plan juridique, l’ACI est une <b>association de droit français</b> et plus précisément de la <b>loi de 1901</b> 
            portant sur les associations. Elle a été créée à la suite de plusieurs constatations. D’abord, l’absence 
            de syndicat ou de toute autre organisation légale pouvant défendre les intérêts des camerounais en France
            en général et en Isère en particulier.Ensuite, le nombre de camerounais implantés dans l’Isère et 
            l’augmentation des difficultés de divers ordres rencontrées par ceux-ci. </p>

        <p> C’est au terme de ces 
            constatations que des compatriotes s’étaient réunis afin de mettre sur pied une organisation susceptible 
            de permettre à tous les camerounais  de <b>défendre ensemble et avec efficacité nos intérêts</b> et de <b>bâtir une 
            communauté de vie </b>dans le pays d’accueil. </p>
        </div>

    </section>
{% endblock body %}