{% extends"::layout/layout.html.twig"%}
 
{% block body %}
<section class="col-sm-9" id="corps">
    <div class='row'><img src="{{asset('img/page-en-construction.png')}}"/></div>
     <p>Veuillez nous excuser pour le désagrement. Cette page est en cours de construction.</p>
</section>
{% endblock %}


