{% extends 'base.html.twig' %}
{% block style %}
	<style>
		#corps {
			margin-top: 100px;
			text-align: center;
		}
		#corps img {
			width: 50%;
		}
		#corps p {
			font-size: 1.5em;
			font-weight: bold;
		}
	</style>
{% endblock %}

{% block body %}
	<section class="col-9" id="corps">
		<img src="{{asset('build/images/page-en-construction.png')}}"/>
		<p>Veuillez nous excuser pour le désagrement. Cette page est en cours de construction.</p>
	</section>
{% endblock %}
