nav {
  height: 100px;
  display: flex;
  align-items: center;
}
.header-menu {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  /* position: sticky; */ /* Fixed le problème de z-index du composent advancedSearch avant */
  top: 0;
  background-color: white;

}

nav > div > .menu-item {
  padding: 8px 16px;

  font-size: 16px;
  font-weight: 500;
}
nav > div > .menu-item:hover {
  cursor: pointer;
  color: #758f3f;
}

nav > div > .menu-item.active {
  color: #758f3f;
}

.logo {
  width: 50px;
}
