nav {
  height: 100px;
  display: flex;
  align-items: center;
}
.header-menu {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
}

nav > div > .menu-item {
  padding: 8px 16px;
}
nav > div > .menu-item:hover {
  cursor: pointer;
  background: #bdcbf2;
}

nav > div > .menu-item.active {
  background: #bdcbf2;
}

.logo {
  width: 50px;
}
