.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f8f9fa;
  height: 500px;
}

.carousel-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: hidden;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100%; */
  width: 100vh;
}

.carousel-item img {
  height: 100%;
  max-width: 100vh;
}




.carousel-control-prev {
  left: 2%;
  position: absolute;
}

.carousel-control-next {
  right: 2%;
  position: absolute;
}